.column2, .column3 {
    float: left;
    height: 100%;
}

.column2{
    width: 50%;
}

.column3{
    width: 33.333%;
}

.sellButtons{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    margin-bottom: 10px;
}

.upgrades{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    margin-bottom: 10px;
}

.inventory {
    position: fixed;
    bottom: 0;
    width: 100%
}

.disabled {
    opacity: 0.6;
}

.disabled:hover {
    cursor: not-allowed;
}

.disabled:active {
    pointer-events: none;
}

.studio{
    display: none;
}

button {
    background-color: #747474;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
  }

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.circle1, .circle2, .circle3{
    height: 25em;
    width: 25em;
    overflow: hidden;
    position: absolute;
}
.circle1:after, .circle2:after, .circle3:after{
    content: '';
    width: 142%;
    height: 142%;
    position: absolute;
    border:.1875em solid white;
    border-radius: 50%;
    box-shadow: .375em .375em 0 0 rgba(15, 28, 63, .125);
    transform: translate(-50%,-50%);
}

.circle1:after{
    background: #FFE400;
}

.circle2:after{
    background: #FF652F;
}

.circle3:after{
    background: #14A76C;
}